*{
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px ;
    align-items: center;
}
.header a {
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    text-decoration: inherit;
}
.header a:hover {
    text-decoration: underline;
}
.header_right {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.header_right .header_apps {
    margin-right: 10px;
}

/* main Body */
.main_body{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;

}
.main_body img {
    object-fit: contain;
    height: 100px;

}
.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray ;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;

}
.search_input:hover {
    box-shadow: 0 0px 2px rgba(0,0,0,0.19), 0 1px 3px rgba(0,0,0,0.23);

}
.search_input input {
    flex: 1;
    padding: 10px 20px ;
    border: none;
    outline: none;
}
.search_input .material-icons {
    color: gray;
}
.search_button {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.search_button button {
    margin: 5px;
    padding: 10px 15px ;
    background-color: #f8f8f8;
    outline: none;
   border: none;
    cursor: pointer;

}
.tran {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.tran a {
    text-decoration: none;
    font-size: 13px;
    margin-top: 2px;
    margin-right: 5px ;
 }
 .tran a:hover {
    text-decoration:underline;
    font-size:15px;
    
 }